<!doctype html>
<title>CSS Grid Template 10</title>
<link rel="stylesheet" href="./css/nuevo2_css.css">
<body>
  <header  id="pageHeader">Generador de Tickets</header>
  <article id="mainArticle">
    <p># Generar nuevo ticket</p>

    <p font-size:30pt; color: rgb(250, 217, 217);>Bienvenido al sistema de Generacion de Ticket</p>
    
    

    </article>
  <nav id="mainNav">
    <b>Navegador</b>
    <ul>
      <li>Generar nuevo ticket</li>
      <li>Editar ticket existente</li>
      <li>Cerrar ticket</li>
      <li></li>
      <li>Informe ticket abiertos</li>
      <li>Informe ticket ticket cerrados</li>
    </ul>
  </nav>
  <div id="siteAds">
    <img width:50%; src="./images/logo.png">
  </div>
  <footer id="pageFooter">Sistema interno de generacion ticket a Servicio Tecnico</footer>
</body>