<!doctype html>
<title>Generar Ticket</title>
<link rel="stylesheet" href="static/css/estilo.css">
<body>
  <header  id="pageHeader">Generador de Tickets</header>
  <article id="mainArticle">
    <p>
      # Generar nuevo ticket  
    
    <form class="myForm" method="get" enctype="application/x-www-form-urlencoded" action="/html/codes/html_form_handler.cfm">

      <p>
      <label>Numero de Ticket.
      <input type="text" name="customer_name" required>
      </label> 
      </p>
        
      <p>
        <label>Sector demandante
        <select id="sector" name="Sector">
        <option value="" selected="selected">Select One</option>
        <option value=1 >"Gerencia"</option>
        <option value=2 >"Proyectos"</option>
        <option value=3 >"Serv Tecn"</option>
        <option value=3 >"     --Todos--      "</option>
        </select>
        </label> 
        </p>  
    
        <p>
          <label>Cliente...................
          <select id="sector" name="Sector">
          <option value="" selected="selected">Select One</option>
          <option value=1 >"El Bosque"</option>
          <option value=2 >"Jardin Claret"</option>
          <option value=3 >"La Cascada"</option>
          <option value=3 >"     Sin barrio      "</option>
          </select>
          </label> 
          </p>




      <p>
        <label>Comenentarios......
        <textarea name="comments" maxlength="500"></textarea>
        </label>
        </p>  

    <p><button>Confirma nuevo ticket</button></p>  

    </article>
  <nav id="mainNav">
    <b>Navegador</b>
    <ul>
      <li><a href="Index.html">Index</a></li>
      <li>Generar nuevo ticket</li>
      <li>Editar ticket existente</li>
      <li>Cerrar ticket</li>
      <li></li>
      <li><a href="Vista.html">Ver consulta</a></li>
      <li>Informe ticket abiertos</li>
      <li>Informe ticket ticket cerrados</li>
    </ul>
  </nav>
  <div id="siteAds">
    <img width:50%; src="static/images/logo.png"">
  </div>
  <footer id="pageFooter">Sistema interno de generacion ticket a Servicio Tecnico</footer>
</body>