<!doctype html>
<title>Index</title>

<link rel="stylesheet" href="/static/css/estilo.css">
<body>
  <header  id="pageHeader">Generador de Tickets</header>
  <article id="mainArticle">
    
    <p><span style="color:#0000CD;"><span style="font-size:18px;"><strong>Generacion de Ticket</strong></span></span></p>

    <hr />
    <h1 style="margin-left: 120px;"><span style="font-size:14px;">texto 1</span></h1>
    
    <p style="margin-left: 120px;">texto 2</p>
    
    <p style="margin-left: 120px;">texto 3<span style="font-size:14px;">​</span></p>
    
    <p style="margin-left: 120px;">&nbsp;</p>
    
    <p style="margin-left: 120px;">&nbsp;</p>
    
    <p style="margin-left: 120px;">&nbsp;</p>
    
    <p style="margin-left: 120px;">&nbsp;</p>
        
    <p style="margin-left: 120px;"><span style="font-size:14px;">​</span></p>
    
    <p style="margin-left: 700px;"><span style="font-size:9px;">Por favor utilice el indice izquierdo para poder navegar por el sistema</span></p>
    

    </article>
  <nav id="mainNav">
    <b>Navegador</b>
    <ul>
      <li>Index</li>
      <li><a href="Generar_ticket.html">Generar nuevo ticket</a></li>
      <li>Editar ticket existente</li>
      <li>Cerrar ticket</li>
      <li></li>
      <li><a href="Vista.html">Ver consulta</a></li>
      <li>Informe ticket abiertos</li>
      <li>Informe ticket ticket cerrados</li>
    </ul>
  </nav>
  <div id="siteAds">
    <img width:50%; src="static/images/logo.png">
  </div>
  <footer id="pageFooter">Sistema interno de generacion ticket a Servicio Tecnico</footer>
</body>