<!doctype html>
<title>Index</title>

<link rel="stylesheet" href="static/css/estilo.css">
<body>
  <header  id="pageHeader">Generador de Tickets</header>
  <article id="mainArticle">
    
    <p>.</p>
    <car>Bienvenido al sistema de Generacion de Ticket</car>
    <p>.</p>
    <p>.</p>
    <p>Usar menu lateral para ir a las diferentes paginas</p>

    </article>
  <nav id="mainNav">
    <b>Navegador</b>
    <ul>
      <li><a href="Index.html">Index</a></li>
      <li><a href="Generar_ticket.html">Generar nuevo ticket</a></li>
      <li>Editar ticket existente</li>
      <li>Cerrar ticket</li>
      <li></li>
      <li><a href="Vista.html">Ver consulta</a></li>
      <li>Informe ticket abiertos</li>
      <li>Informe ticket ticket cerrados</li>
    </ul>
  </nav>
  <div id="siteAds">
    <img width:50%; src="static/images/logo.png">
  </div>
  <footer id="pageFooter">Sistema interno de generacion ticket a Servicio Tecnico</footer>
</body>