<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Generacion Ticket</title>
<meta charset="UTF-8">
<link rel="shortcut icon" href="../static/images/logo.ico" >
<link rel="stylesheet" href="../static/styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>

<!--Menu superior--> 
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#">Generacion Ticket</a></h1>
      <h2>Intranet Servicio Tecnico</h2>
    </div>
    <nav>
      


      
      <li class="even">
        <article><img src="../static/images/logo.png" alt="">
          
        </article>
      </li
    </nav>
    <div class="clear"></div>
  </header>
</div>



<!-- content -->
<div class="wrapper row2">
  <div id="container">
    <!-- content body -->
    <div id="content">
      
      
      <!-- CUERPO SUPERIOR -->
      <section>
        <article>
          <h2></h2>
          
          <article><img src="../static/images/monitoreo3.png" alt="">

          <p>&nbsp;</p>
           
          
          
          <p style="margin-left: 350px;"><span style="font-size:9px;">Por favor utilice el indice izquierdo para poder navegar por el sistema</span></p>
         
          
        </article>
        
        <!-- CUERPO INFERIOR -->
        
       
      
        

        <!-- / articles -->
      </section>
      <!-- section 2 -->
      <section id="services" class="last clear">
       
      </section>
    </div>
    <!-- right column -->
    <aside id="right_column">
    

      <h2 class="title">Links</h2>
      <nav>
        <ul>
          <li><a href="#"; style="color:rgb(161, 11, 149)">Index</a></li>
          <li><a href="#">Generar nuevo ticket</a></li>
          <li><a href="#">Editar ticket existente</a></li>
          <li><a href="#">Cerrar ticket</a></li>
          <p>&nbsp;</p>
          <li class="last"><a href="Vista.html">Ver consulta</a></li>
          <li class="last"><a href="#">Informe tickets abiertos</a></li>
          <li class="last"><a href="#">Informe tickets cerrados</a></li>
        </ul>
      </nav>
      
      
    </aside>
    <!-- / content body -->
    <div class="clear"></div>
  </div>
</div>
<!-- footer -->

</body>
</html>
