<!DOCTYPE html>
<html>Bienvenido
<head>
</head>
<body>    





    
<ul>
    <li><a href="#"; style="color:rgb(161, 11, 149)">Index</a></li>
    <li><a href="#">Generar nuevo ticket</a></li>
    <li><a href="#">Editar ticket existente</a></li>
    <li><a href="#">Cerrar ticket</a></li>
    <p>&nbsp;</p>
    <li class="last"><a href="Vista.html">Ver consulta</a></li>
    <li class="last"><a href="#">Informe tickets abiertos</a></li>
    <li class="last"><a href="#">Informe tickets cerrados</a></li>
</ul>

</body>
</html>    