<!DOCTYPE html>
<html>Bienvenido
<head>
</head>
<body>    
    <h1>Id = {{Prin_id}}</h1>
    <h1>Ticket = {{Prin_ticket}}</h1>
    <h1>Detalle = {{Prin_detalle}}</h1>
    <h1>Fecha = {{Prin_fecha}}</h1>
    <h1>Area = {{Prin_area_id}}</h1>
    <h1>Cliente = {{Prin_cliente_id}}</h1>
    
   
    
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    
    <form method = "get" action = "button">
      <input type="submit" name ="boton" value="atras">Atras!</button>
      <button type="submit" name = "boton" value="adelante">Adelante!</button>
    </form>
    

    
    <ul>
        <li><a href="Index.html">Index</a></li>
        <li><a href="#">Generar nuevo ticket</a></li>
        <li><a href="#">Editar ticket existente</a></li>
        <li><a href="#">Cerrar ticket</a></li>
        <p>&nbsp;</p>
        <li class="last"><a href="#"; style="color:rgb(161, 11, 149)">Ver consulta</a></li>
        <li class="last"><a href="#">Informe tickets abiertos</a></li>
        <li class="last"><a href="#">Informe tickets cerrados</a></li>
      </ul>

</body>
</html>    